#crab1
{
	left: 600px; bottom: 150px;
	width: 100px; height: 73px;
	position: absolute;
}

#crab2
{
	left: 400px; bottom: 80px;
	width: 200px; height: 147px;
	position: absolute;
}

#crab3
{
	right: 450px; bottom: 80px;
	width: 200px; height: 147px;
	position: absolute;
}

#shrimp
{
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 20%;
	right: 0;
	animation: Shrimp 30s linear infinite;
}
@keyframes Shrimp {
	0% {
		bottom: 20%;
		right: 10%;
	}
	100% {
		bottom: 50%;
		right: 85%;
		transform: translate(-100%, -100%);
	}
}

#waterbubbles1
{
	right: 200px; bottom: 400px;
	width: 200px; height: 147px;
	position: absolute;
}

#waterbubbles2
{
	left: 100px; bottom: 400px;
	width: 200px; height: 147px;
	position: absolute;
}

#waterbubbles3
{
	left: 400px; top: 200px;
	width: 50px; height: 30px;
	position: absolute;	
}

#jellyfish {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: Jellyfish 10s linear infinite;
}
@keyframes Jellyfish {
    0% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(200px) rotate(-360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(200px) rotate(0deg);
    }
}

#shark
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%; 
    right: 0;
    animation: Shark 5s linear infinite;
}
@keyframes Shark {
    0% {
        right: 10%;
        transform: translateY(0);
    }
    25% {
        right: 25%;
        transform: translateY(-100px);
    }
    50% {
        right: 50%;
        transform: translateY(0);
    }
    75% {
        right: 75%;
        transform: translateY(100px);
    }
    100% {
        right: 92%;
        transform: translateY(0);
    }
}

#coral1
{
	left: 0px; bottom: -30px;
	width: 400px; height: 247px;
	position: absolute;
}

#coral2
{
	right: 35px; bottom: 70px;
	width: 400px; height: 247px;
	position: absolute;	
}

#starfish
{
	right: 200px; bottom: -180px;
	width: 400px; height: 247px;
	position: absolute;	
}

#scallops
{
	right: 300px; bottom: -180px;
	width: 400px; height: 247px;
	position: absolute;
}

#pearl
{
	left: 120px; bottom: -130px;
	width: 400px; height: 247px;
	position: absolute;	
}

#goldenchest
{
	right: 30px; bottom: 50px;
	width: 400px; height: 247px;
	position: absolute;
}

#seasnail
{
	left: 500px; bottom: -190px;
	width: 400px; height: 247px;
	position: absolute;
}

#whale
{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -10%;
    left: 0;
    animation: Whale 20s linear infinite;
}
@keyframes Whale {
    0% {
        left: 0;
        transform: translateY(0);
    }
    25% {
        left: 25%;
        transform: translateY(-30px);
    }
    50% {
        left: 50%;
        transform: translateY(0);
    }
    100% {
        left: 65%;
        transform: translateY(0);
    }
}

#adi {
    position: absolute;
    bottom:-15%;
    left: 0%;
    font-size: 16px;
}

#ima {
    transition: background-image 0.5s ease-in-out;
    background-image: url('../Image/background1.jpg');
    background-size: cover;
}

